
// Import Reveal.js files
@import 'template/mixins';
@import 'template/settings';

// Our rules go here

$heading1Size: 2.5em;
$heading2Size: 1.9em;
$heading3Size: 1.4em;


@import 'template/theme';
